<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Account Details</title>
    <link rel="stylesheet" href="/css/account.css" />
</head>

<body>
    <%- include('partials/nav') %>
    <div class="cont1">
        <div class="banner">
            <svg width="100px" height="100px" viewBox="-5.2 -5.2 30.40 30.40" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0">
                    <rect x="-5.2" y="-5.2" width="30.40" height="30.40" rx="15.2" fill="#ffffff" strokewidth="0">
                    </rect>
                </g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <title>profile_round [#1342]</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke-width="0.0002" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -2159.000000)" fill="#000000">
                            <g id="icons" transform="translate(56.000000, 160.000000)">
                                <path
                                    d="M100.562548,2016.99998 L87.4381713,2016.99998 C86.7317804,2016.99998 86.2101535,2016.30298 86.4765813,2015.66198 C87.7127655,2012.69798 90.6169306,2010.99998 93.9998492,2010.99998 C97.3837885,2010.99998 100.287954,2012.69798 101.524138,2015.66198 C101.790566,2016.30298 101.268939,2016.99998 100.562548,2016.99998 M89.9166645,2004.99998 C89.9166645,2002.79398 91.7489936,2000.99998 93.9998492,2000.99998 C96.2517256,2000.99998 98.0830339,2002.79398 98.0830339,2004.99998 C98.0830339,2007.20598 96.2517256,2008.99998 93.9998492,2008.99998 C91.7489936,2008.99998 89.9166645,2007.20598 89.9166645,2004.99998 M103.955674,2016.63598 C103.213556,2013.27698 100.892265,2010.79798 97.837022,2009.67298 C99.4560048,2008.39598 100.400241,2006.33098 100.053171,2004.06998 C99.6509769,2001.44698 97.4235996,1999.34798 94.7348224,1999.04198 C91.0232075,1998.61898 87.8750721,2001.44898 87.8750721,2004.99998 C87.8750721,2006.88998 88.7692896,2008.57398 90.1636971,2009.67298 C87.1074334,2010.79798 84.7871636,2013.27698 84.044024,2016.63598 C83.7745338,2017.85698 84.7789973,2018.99998 86.0539717,2018.99998 L101.945727,2018.99998 C103.221722,2018.99998 104.226185,2017.85698 103.955674,2016.63598"
                                    id="profile_round-[#1342]"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="banner-info center align-start">
                <h2>
                    <%= req.session.name %>
                </h2>
                <div class="center-row">
                  <a href="/auth/logout"><button>Logout</button></a>
                  <a href="/home"><button>Home</button></a>
                </div>
            </div>
            <div class="banner-info center align-end">
                <p>Email <%= req.session.email %>
                </p>
                <% if (req.session.verifiedMail) { %>
                  <button disabled>Verified!</button>
                <% } else { %>
                  <button onclick="showVerificationBox()">Verify</button></a>
                <% } %>
            </div>
        </div>
        <% if (error) { %>
            <div class="error">
                <p><%= error %></p>
            </div>
        <% } %>
    </div>

    <div class="verification-box" id="verification-box" style="display: none;">
        <div class="verification-box-content">
            <h2>Verify Email</h2>
            <p>Enter the verification code sent to your email</p>
            <a onclick="sendVerificationMail()">Resend Verification Code</a>
            <input type="text" name="verification-code" id="verification-code" required/>
            <button onclick="verify()">Verify</button>
            <span class="exit" onclick="hideVerificationBox()">&times;</span>
        </div>
    </div>

    <!-- Saved Pages Container -->
    <div class="saved-pages-container">
        <h3 class="title">Saved Pages</h3>
        <!-- Display saved pages here -->
        <div class="saved-pages">
            <% for (let i = 0; i < saved.length; i++) { %>
                <div class="saved-page" onclick="load('<%= saved[i].name %>')">
                    <h3><%= saved[i].name %></h3>
                </div>
            <% } %>
            <div class="gen saved-page" onclick="gen()">
                <h3>Generate More</h3>
            </div>
        </div>
    </div>

    <script>
        function gen() {
            window.location.href = "/itinerary";
        }

        function showVerificationBox() {
            document.getElementById("verification-box").style.display = "block";
        }

        function hideVerificationBox() {
            document.getElementById("verification-box").style.display = "none";
        }

        function sendVerificationMail() {
            // Create and post dummy form
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/auth/verify_email");
            form.style.display = "hidden";

            // submit form
            document.body.appendChild(form);
            form.submit();

            // Edit the button text
            var button = document.querySelector(".verification-box-content a");
            button.innerHTML = "Code Sent!";
            // Disable the button
            button.setAttribute("disabled", "true");
        }

        function verify() {
            var code = document.getElementById("verification-code").value;
            
            // Check if code is there
            if (!code) {
                alert("Please enter the verification code");
                return;
            }
            
            // Create and post dummy form
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/me/verifymail");
            form.style.display = "hidden";

            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "code");
            input.setAttribute("value", code);
            form.appendChild(input);

            // submit form
            document.body.appendChild(form);
            form.submit();
        }

        // Load itinerary
        function load(itinerary) {
            // Create and post dummy form
            var form = document.createElement("form");
            form.setAttribute("method", "get");
            form.setAttribute("action", "/itinerary/load");
            form.style.display = "hidden";

            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "name");
            input.setAttribute("value", itinerary);
            form.appendChild(input);

            // submit form
            document.body.appendChild(form);
            form.submit();
        }

    </script>
</body>

</html>